body{

    font-size: 12px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
    font-family: "Poppins",sans-serif;
    color: #777;
    background: #edeff0;
}

a{
    color: black;
}
.header-top{
    display: none;
}
.far,.fas{
    color: #ebedef;
}

#navbar-container{
    background: rgb(4, 9, 30);
    opacity: 0.8;
}
#navbar-container a{
    color: white;
}
#navbar-container a:hover, #contact-icons-layout-page a:hover{
    color: #f7631b;
}
#dropdown-menu a{
    color: black;
    font-size: 12px;
}


#contact-icons-layout-page a{
    color: white;
}

#courselist-container{
    margin-top: 4%;
    margin-bottom: 10%;
    position: relative;
    width: 100%;
}

#course-list-intro{
    width: 100%;
    
}

.card-box{
    cursor: pointer;
    background: white;
    position: relative;
    border-radius: 5px 5px 4px 4px;
    display: block;
    min-height: 240px;
    padding: 88px 30px 30px;
    text-decoration: none;
    min-width: 300px;
    box-sizing: border-box;
    margin-top: 5%;
    z-index: 0;
}

.card-box-detail-page{
    cursor: pointer;
    background: white;
    position: relative;
    border-radius: 5px 5px 4px 4px;
    display: block;
    min-height: 240px;
    padding: 45px 30px 30px;
    text-decoration: none;
    min-width: 300px;
    box-sizing: border-box;
    margin-top: 5%;
    z-index: 0;
}


.card-progress{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    height: 58px;
    line-height: 58px;
    padding: 0 30px;
    background-color: darkslategray;
    transition: background-color 300ms 0s ease;

}

.card-progress-quizz{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-items: center;
    height: 58px;
    line-height: 58px;
    padding: 0 30px;
    background: #55616c;
}

.card-type {
    display: block;
    margin: 0 0 7px;
    line-height: 12px;
    font-size: 14px;
    color: #7b8b8e;
}

.card-title {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px;
    color: #4b5658;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-description, .card-description-markdown {
    position: relative;
    z-index: 0;
    font-size: 14px;
    overflow: hidden;
    margin: 0;
    color: #7b8b8e;
}

.card-actions {
    box-shadow: 0 2px 0 rgba(0,0,0,0.06);
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: 0;
    background: white;
    
}

.card-action {
    position: relative;
    float: left;
    pointer-events: auto;
}

.card-action.secondary-action {
    float: left;
    transition: opacity 0.15s ease 0.15s;
    margin-left: 10%;
}

.card-action.secondary-action .button {
    height: 36px;
    padding: 10px 40px;
    line-height: 32px;
    color: #576366;
}

.button.secondary, .button-secondary {
    background-color: transparent;
    border: solid 2px #d4d9dd;
}

.card-action.secondary {
    float: right;
    margin: 0 0 0 25px;
    height: 36px;
    line-height: 36px;
}

.questions-total{
    margin-top: -5%;
    margin-left: 35%;
}

.quizz{
    float: right;
    margin-top: -5%;
    margin-left: 5%;
}


/* Quiz form starts here */
.quiz-form{
    margin-top: 5%;
}
/* Quiz form ends here */

/* text-detail starts here */
.text-detail-container{
    margin-top: 5%;
    margin-bottom: 15%;
    background: white;

}
.text-detail-container a{
    color: #777;
}
/* text-detail ends here */

/* quiz form starts here */

.quiz-form{
margin-top: 8%;
margin-bottom: 20%;
font-weight: bold;

}
.quiz-form h1{
    color: #777;
    
}

.btn{
    border-radius: 35px;
    margin-top: 2%;
    height: 2.5rem;
    float: right;
}

#save{
    margin-bottom: 5%;
}

.title, .description, .order, .questions, .quiz-labels{
 margin-top: 1%;
}
/* quiz form ends here */

/* quiz-detail starts here */
.quiz-detail-container{
    margin-top: 8%;
    margin-bottom: 25%;
    
}


.quiz-detail-content-container{
    background: white;
    font-size: 15px;
}

.quiz-detail-container a{
    color: #78909c;
}
.quiz-detail-content{
    padding-top: 2%;
    padding-bottom: 10%;
    list-style: square;
}

.quiz-detail-container a, .quiz-detail-container .far, .quiz-detail-container .fas {
    color: #78909c;
}

#call-to-action{
  padding-bottom: 2%;
}

.quiz-detail-container .far, .quiz-detail-container .fas{
    margin-right: 5px;
    padding: 0;
}
#edit-question{
    margin-left: 80%;
}

/* quiz-detail ends here */

/* question form starts here */
.question-form-container{
   margin-top: 8%;
   margin-bottom: 20%;
}

.question-form-content{
    padding: 0;
}
.table-responsive{
    margin-top: 2%;
}

.save{
    margin-left: 50rem;
}

.breadcrumbs{
    display: inline-block;
    color: #78909c;
}

.question-form-container .fas, .question-form-container .far, .question-form-content h6{
    color: #78909c;
    margin-right: 5px;

}

.question-form-content h6{
    margin-top: 3%;
    margin-bottom: 2%;
}


/* question form ends here */
