{% extends "layout.html" %}
{% load static from staticfiles %}
{% block static %}

<link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}
{% load humanize %}

{% block title %} {{ course.title }} {% endblock %}

{% block content %}
<div class="container" id="courselist-container">
    <div class="row">
        <div class="col-md-6">
                {% for step in steps %}
            <a class="card-box" href="{{step.get_absolute_url }}">
                {% if step.question_set %}
                <div class="card-progress-quizz">
                        <i class="far fa-file-code fa-lg"></i>
                </div>
                <p class="card-type">Quiz</p>
                {% else %}
                <div class="card-progress">
                        <i class="fas fa-book-open fa-lg"></i>
                </div>
                <p class="card-type">Course</p>
                {% endif %}
                <h3 class="card-title">{{step.title}}</h3>
                {% if step.description|wordcount <= 5 %}
                <p class="card-description">{{step.description}}</p>
                            {% else %}
                            <p class="card-description">{{step.description|truncatewords:12}}</p>
                {% endif %}
                
            </a>            
            <div class="card-actions container">
                <div class="row" id="card-actions-container">
                    <div class="card-action secondary-action">
                        <a href="{% url 'courses:detail' pk=course.pk %}" class="button secondary">{{ course.subject }}</a>
                    </div>
                </div>
                {% if step.question_set.all %}
                <div class="questions-total">
                        
                        <span>Total Questions</span>
                        <span>{{ step.question_set.count }}</span>
                           
                </div>
                {% elif not step.question_set %}
                <div class="quizz">
                        
                        <a href="{% url 'courses:create_quiz' course_pk=course.id %}">New Quiz</a>
        
                        
                </div> 
                {% endif %}
                        
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
                
                <a class="card-box-detail-page" href="{% url 'courses:detail' pk=course.pk %}">
                        <p class="card-type">Track</p>
                        <h3 class="card-title">Exploring {{course.title}}</h3>
                        {% if course.description %}
                        <p class="card-description">{{course.description}}</p>
                        {% endif %}
                    </a>
                    <div class="card-actions container">
                        <div class="row" id="card-actions-container">
                                <div class="card-action secondary card-action-trailer">
                                        <a href="#" data-toggle="tooltip" data-placement="top"
                                            title="For video content!">
                                            <i class="far fa-play-circle fa-2x"></i>
                                        </a>
                                </div>
                                <div class="card-action secondary" data-toggle="tooltip" data-placement="top"
                                        title="Average skill networth">
                                        <i class="fas fa-money-check-alt fa-2x"></i>
                                </div>
                                <div class="card-action secondary" data-toggle="tooltip" data-placement="top"
                                        title="Include major companies using this technology">
                                        <i class="far fa-building fa-2x"></i>
                                </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
{% endblock %}