{% extends "layout.html" %}
{% load humanize %}

{% block title %} {{ course.title }} {% endblock %}

{% block content %}
<article>
    <h2> {{ course.title }} </h2>
    {{ course.description}}

    <!-- <p>There are {{ course.step_set.count|apnumber }} step{{ course.step_set.count|pluralize }} in this course</p> -->

    <section>
        {% for step in steps %}
        <a href="{{ step.get_absolute_url }}">{{ step.title }}</a>
        {{ step.description }}
        {% endfor %}
    </section>
</article>


{% endblock %}