{% extends "layout.html" %}

{% block title %}{{ step.title }} - {{ step.course.title }}{% endblock %}

{% block content %}
<article>
    <a href="{% url 'courses:detail' pk=step.course.pk%}">{{ step.course.title }}</a>
    <h3> {{ step.title }} </h3>
    {% for question in step.question_set.all %}
        <li>
            <p>{{ question.prompt }}</p>
            {% for answer in question.answer_set.all %}
                <div>{{answer.text}}</div>
            {% endfor %}
            {% if user.is_authenticaed %}
                <a href="{% url 'courses:edit_question' question_pk=question.pk quiz_pk=step.pk %}">Edit</a>
            {% endif %}
        </li>
    {% endfor %}
    {% with con=step.content %}
        {{ con|linebreaks }} content: {{ con|wordcount }} words.
    {% endwith %}
</article>
{% if user.is_authenticated %}
<hr>
<a href="{% url 'courses:edit_quiz' course_pk=step.course.pk quiz_pk=step.pk %}"><button>Edit</button></a>
<a href="{% url 'courses:create_question' quiz_pk=step.pk question_type='mc'%}"><button>New Multiple Choice
        Question</button></a>
<a href="{% url 'courses:create_question' quiz_pk=step.pk question_type='tf'%}"><button>New True/False
        Question</button></a>
{% endif %}
{% endblock %}