{% extends "layout.html" %}

{% block content %}
<div class="about-us-page-intro-wrapper">
        <div class="container-fluid about-us-page-intro">
                <img class="about-us-page-intro-image"
                        src="https://images.unsplash.com/photo-1537202108838-e7072bad1927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600"
                        alt="">
                <div class="about-us-page-container">
                        <h3>-Our Mission-</h3>
                        <p>Ensure better education for a better world</p>
        
                        <h4>About</h4>
        
                        <p>Lorem ipsum dolor sit amet, quaeque albucius sed ex. Essent utamur repudiandae sea cu, vocent
                                oportere ei mea. In sint timeam neglegentur vel, eam error fabellas et, eum quem eius no. Vitae
                                propriae cum id, no vim cotidieque repudiandae mediocritatem.
        
                                Pro ex saepe malorum persecuti. Definiebas referrentur eu sed, sed ex erant doctus, nobis
                                suscipit apeirian ei nam. Saepe animal te vel, decore recteque partiendo ius ad, vel fierent
                                lucilius at. Diam atomorum suavitate ad pro. Te pro viderer tamquam persecuti, no dissentiet
                                conclusionemque nec, mei te nihil animal.</p>
                        <div class="row about-us-page-row">
                        <div class="col-md-6">
                                <h6>Partners</h6>
                                <p>Lorem ipsum dolor sit amet, quaeque albucius sed ex. Essent utamur repudiandae sea cu, vocent
                                        oportere ei mea. In sint timeam neglegentur vel, eam error fabellas et, eum quem eius no. Vitae
                                        propriae cum id, no vim cotidieque repudiandae mediocritatem.</p>
                        </div>
                        <div class="col-md-6">
                                <h6>Graduates</h6>
                                <p>Pro ex saepe malorum persecuti. Definiebas referrentur eu sed, sed ex erant doctus, nobis
                                        suscipit apeirian ei nam. Saepe animal te vel, decore recteque partiendo ius ad, vel fierent
                                        lucilius at. Diam atomorum suavitate ad pro. Te pro viderer tamquam persecuti, no dissentiet
                                        conclusionemque nec, mei te nihil animal</p>
                        </div>
                        </div>
                        <div class="row about-us-page-row">
                        <div class="col-md-6">
                                <h6>Badges awarded</h6>
                                <p>Pro ex saepe malorum persecuti. Definiebas referrentur eu sed, sed ex erant doctus, nobis
                                        suscipit apeirian ei nam. Saepe animal te vel, decore recteque partiendo ius ad, vel fierent
                                        lucilius at. Diam atomorum suavitate ad pro. Te pro viderer tamquam persecuti, no dissentiet
                                        conclusionemque nec, mei te nihil animal</p>
                        </div>
                        <div class="col-md-6">
                                <h6>Premises</h6>
                                <p>Lorem ipsum dolor sit amet, quaeque albucius sed ex. Essent utamur repudiandae sea cu, vocent
                                        oportere ei mea. In sint timeam neglegentur vel, eam error fabellas et, eum quem eius no. Vitae
                                        propriae cum id, no vim cotidieque repudiandae mediocritatem.</p>
                        </div>
                        </div>
                        
                </div>
        </div>
        
</div>
{% endblock %}
{% block script%}

{% endblock %}