<!-- {% extends "layout.html" %}
{% load course_extras %}

{% block title%} Home Page {%endblock%}

{% block content %}
<div class="container-fluid" id="landing-page-intro">
    <img id="landing-page-intro-img" src="static/images/landingpageintroimg.jpg" alt="" class="img-responsive">
    <div id="landing-page-intro-text">
            <p>Dont miss our latest course, {% newest_course %}!</p>
            <div class="ball" id="ball">
                    Well hello there
            </div>
    </div>   
</div>

{% endblock %} -->