{% extends "layout.html" %}
{% load course_extras %}

{% block title%} Home Page {%endblock%}

{% block content %}
<div class="container-fluid" id="landing-page-intro">
    <img id="landing-page-intro-img" src="static/images/john-schnobrich-520023-unsplash.jpg" alt=""
        class="img-responsive">
    <div id="landing-page-intro-text">
        <!-- <p>Dont miss our latest course, {% newest_course %}!</p> -->
        <div class="landing-page-intro-content" id="intro-animate">
            <h1>WE ENSURE BETTER EDUCATION
                FOR A BETTER WORLD</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
                page when looking at its layout</p>
            <a href="{% url 'courses:list' %}"><button>Click here to view all courses</button></a>
        </div>
    </div>
</div>
<div class="container" id="single-feature-container">
    <div class="row" id="single-feature-row">
        <div class="col-md-4">
            <div class="single-feature">
                <div class="single-feature-title">
                    <h4>The standard Lorem</h4>
                </div>
                <div class="single-feature-description">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it
                        over 2000 years old.</p>
                    <a href="">join now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-feature">
                <div class="single-feature-title">
                    <h4>The standard Lorem</h4>
                </div>
                <div class="single-feature-description">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it
                        over 2000 years old.</p>
                    <a href="">join now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-feature">
                <div class="single-feature-title">
                    <h4>The standard Lorem</h4>
                </div>
                <div class="single-feature-description">
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                        roots in a piece of classical Latin literature from 45 BC, making it
                        over 2000 years old.</p>
                    <a href="">join now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="popular-courses-container">
    <div class="row" id="popular-courses-call-to-action">
        <div>
            <h4>Popular Courses we offer</h4>
            <p>Some text can be added here</p>
        </div>
    </div>
    <div class="row" id="popular-courses-slider">
        <div class="col-md-3 col-lg-3" id="popular-course-div">
            <div class="popular-course">
                <img src="https://www.hindilearn.in/images1/javascript.png" alt="">
            </div>
            <div class="popular-course-description">
                <h6>Learn Java Script</h6>
                <p>Some text describing the course here</p>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="popular-course">
                <img src="https://www.thoughtco.com/thmb/W8mZRP83ZBl7QeKAJuMajXZjux0=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/2000px-Python.svg-56a7b0bc5f9b58b7d0ecea1f.jpg" alt="">
            </div>
            <div class="popular-course-description">
                <h6>Learn-Python</h6>
                <p>Some text describing the course here</p>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="popular-course">
                <img src="https://process.filestackapi.com/cache=expiry:max/resize=width:1050/compress/BLF55V9jSCuZ50iFD1UJ" alt="">
            </div>
            <div class="popular-course-description">
                <h6>Learn Angular</h6>
                <p>Some text describing the course here</p>
            </div>
        </div>

        <div class="col-md-3 col-lg-3" >
            <div class="popular-course">
                <img src="https://cdn-images-1.medium.com/max/1200/1*1OBwwxzJksMv0YDD-XmyBw.png" alt="">
            </div>
            <div class="popular-course-description">
                <h6>Learn Django</h6>
                <p>Some text describing the course here</p>
            </div>
        </div>


    </div>
</div>
<!-- <div id="parallax-container">
    <div id="parallax">
            <h1>Parallax Effect</h1>
            <p>Pure Css //No javascript</p>
    </div>
</div> -->
{% endblock %}